#mmenu
{	margin: 0;
	padding: 0;
    }
	
	#mmenu li
	{	float: left;
		list-style: none;
		font: 12px Tahoma, Arial;
        }

	#mmenu li a
	{	display: block;
		background:#D2B9D3;
		padding: 5px 12px;
		text-decoration: none;
		border-right: 1px solid white;
		width: 70px;
		color: #150517;
		white-space: nowrap;
        }

	#mmenu li a:hover
	{	background:	#EBDDE2}
		
		#mmenu li ul
		{	margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			border-top: 1px solid white}
		
		#mmenu li ul li
		{	float: none;
			display: inline}
		
		#mmenu li ul li a
		{	width: auto;
			background:#817679;
            color:White;}
		
		#mmenu li ul li a:hover
		{	background: #C8BBBE}
        
        .contactc{
    text-decoration:none;
}